<ul>
  <li>
    <%= link_to 'Todos os generos', genres_path%>
  </li>

  <li>
  <%= link_to 'Cadastrar novo genero', new_genre_path %>
  </li>

  <li>
    <%= link_to 'Todos os Diretores', directors_path%>
  </li>

  <li>
  <%= link_to 'Cadastrar novo Diretor', new_director_path %>
  </li>


  <li>
    <%= link_to 'Todos os Filmes', movies_path%>
  </li>

  <li>
  <%= link_to 'Cadastrar novo Filme', new_movie_path %>
  </li>
  

</ul>